body {
    background-color : beige;
    color : white;
}

.pageTitle {
     font-size: 3em;
    color: brown;
	
}
#welcomeMsg {
     font-size: 2em;
    color: maroon;
    margin-bottom: 20px;
	
}
#chooser {
	padding-top: 3em;
	color: orange;
}

.copyright {
	width : 800px;
	color : brown;
	padding-top: 4em;
	text-align : left;
}

.black-text {
	color:black;
	font-size: 200%;
}

#new-info {
	display:flex;
	float: left;
}

#park-image {
	float: center;
	
}

#park-image, img {
	max-width: 100%;
	height: auto;
	text-align: left;
}
p {
	background-color: pretty-purple;
	color: black;
}

b {
	color: black;
}

label {
	color: black;
}
nav {
	display: block;
	background-color: white;
	
}
nav ul li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0px;
	list-style: none;
	background-color: white;
}
nav img {
	width: 20%;
	height: auto;
}
.flexy {
	display: flex;
	margin-bottom: 10px;
}
.flexy img  {
	width: 40%;
	height: 40%;
	margin-right: 5px;
}
.flexy h3 {
	margin-top: 0px;
	text-decoration: none;

}
.inline {
	display: inline-block;
}
.info-link {
	font-size: 150%;
	color: black;
}
.info-link a {
	text-decoration: none;

	color: #696969;
}
.nav li a {
	text-decoration: none;
}
.nav li a{
	color: maroon;
	font-size: 120%;
}
#chooser {
	margin-bottom: 10px;
}
.error {
	color: red;
}

#content {
	display: inline-block;
	justify-content: space-around;
	/* flex-flow: row wrap; */
	align-items: stretch;
}

 .box, #content {
	 float: left;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 100px;
}

#content, .box, img {
	/*text-align: center;*/
	width: 40%;
	margin: 0 auto;
		border-radius: 20%;
	/*display: inline-block;*/
}
h3 {
	color: black;
}
h1 {
	color: maroon;
}

/*#count {
	float: left;
	width: 60%;
}
*/
#first {
	width: 600px;
	margin-bottom: 100px;
	border-radius: 20%;
}

#twoToFive {
	width: 200px;
	margin-top: 60px;

}

.copyright {
	display: none;
	position: fixed;
	left: 50%;
	bottom: 5%;
	
}
#park-image img {
	border-radius: 0%;
}
#messageSurvey {
	padding-bottom: 20px;
}




